<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 만들기</title>
</head>
<body>
<form>
    <div class="form-group row">
        <label for="board" class="col-sm-2 col-form-label">게시판 이름</label>
        <div class="col-sm-10">
            <input type="text" name="category" class="form-control" id="board" placeholder="ex)스포츠">
        </div>
        <input type="submit" id=btn-create value="게시판 생성"/>
    </div>

</form>
<script src="/js/makeBoard.js"></script>
</body>
</html>